html, body
{
  font: 34px "Helvetica Neue", Helvetica, Arial, Sans-serif;
  background-color: #fff;
  color: #000;
  font: 18px/12px Helvetica, Arial, Sans-serif;
  padding: 0px;
  margin: 0px;
  line-height: 24px;
  font-size: 14px;
}
body
{
  margin: 2em;
}
h1
{
  font-weight: normal;
}