<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/stylesheets/default.css" type="text/css; charset=utf-8" />
</head>
<body>
  <h1>Manfred's notes</h1>
  {{ content }}
  <aside>
    Hi, I work at <a href="https://fngtps.com">Fingertips</a> where we develop clean and easy to use web applications. My job allows me to work on a wide variety of things like code, information architecture, technical writing, and interaction design.
  </aside>
</body>
</html>
